/*--------------------------------------------------------------------*/
/* COLORS */
/*--------------------------------------------------------------------*/

$colorPrimary: #55c57a;
$colorPrimary-light: #7ed56f;
$colorPrimary-dark: #28b485;

$colorGrey-light-1: #f7f7f7;
$colorGrey-dark: #777;

$colorWhite: #fff;
$colorBlack: #000;

/*--------------------------------------------------------------------*/
/* GRID */
/*--------------------------------------------------------------------*/

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

/*--------------------------------------------------------------------*/
/* FONT SIZES */
/*--------------------------------------------------------------------*/

$fontSize-default: 1.6rem;