.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        position: relative;
        font-size: $fontSize-default;
        transition: all .2s;
    }

    &::after {
        content: "";
        height: 100%;
        width: 100%;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 10rem;
        transition: all .4s;
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($colorBlack, 0.2);
        
        &::after {
            transform: scale(1.5);
            opacity: 0;
        }
    }

    &--white {
        background-color: $colorWhite;
        color: $colorGrey-dark;
        
        &::after {
            background-color: $colorWhite;
        }
    }
    
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($colorBlack, 0.2);
    }

    &--animated {
        animation: moveInBottom 0.5s ease-out 1s;
        animation-fill-mode: backwards;
    }
}

.btnText {
    &:link,
    &:visited {
        font-size: $fontSize-default;
        color: $colorPrimary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $colorPrimary;
        padding: .3rem 1rem;
        transition: all .2s;
    }

    &:hover {
        background-color: $colorPrimary;
        color: $colorWhite;
        box-shadow: 0 1rem 2rem rgba($colorBlack, .15);
        transform: translateY(-.2rem);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($colorBlack, .15);
        transform: translateY(0);
    }

}