body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $colorGrey-dark;
    padding: 3rem;
}

.headingPrimary {
    color: $colorWhite;
    text-transform: uppercase;
    margin-bottom: 6rem;
    
    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 700;
        letter-spacing: 3.5rem;
        height: 10rem;

        animation: moveInLeft 1.3s;
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.75rem;

        animation: moveInRight 1.3s;
    }
}

.headingSecondary {
    margin-top: 8rem;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $colorPrimary-light, $colorPrimary-dark);
    display: inline-block;
    letter-spacing: .2rem;
    transition: all .2s;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($colorBlack, .2);
    }
}

.headingTertiary {
    font-size: $fontSize-default;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $fontSize-default;
    
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}